{%  extends 'base.html' %}
<title>{% block title %}Match Entry{% endblock %}</title>

{% block display %}
    </p>
    <div class="container">

        <table class="table">
            <tr>
                <td>Number</td>
                {% for hole in holes %}
                <td>
                    {{ hole.number }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Par</td>
                {% for hole in holes %}
                <td>
                    {{ hole.par }}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}