{%  extends 'base.html' %}
<title>{% block title %}Match Entry{% endblock %}</title>

{% block display %}
    </p>
    <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table-sm">
                    <tbody>
                        <tr>
                            <th>Course Name</th>
                            <td>{{ form.course_name }}</td>
                        </tr>
                        <tr>
                            <th>Number of Holes</th>
                            <td>{{ form.hole_count }}</td>
                        </tr>
                    </tbody>
                </table>
                <input type="Submit" value="Next" />
            </form>
    </div>
{% endblock %}