{%  extends 'base.html' %}
<title>{% block title %}Match Results{% endblock %}</title>

{% block display %}
    <table>
        <thead>
        <tr>
            <th scope="row" width="20%">Course</th>
            <th scope="row" width="20%">Date</th>
            <th scope="row" width="20%">Game</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ match_meta.course.name }}</td>
                <td>{{ match_meta.date }}</td>
                <td>{{ match_meta.game_number }}</td>
            </tr>
        </tbody>
    </table>
<hr>
    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-active" id="hole">
                <th scope="row">Hole</th>
                {% for k, v in course_meta.par.items %}
                    <td align="right" width="5%">{{ k }}</td>
                {% endfor %}
            </tr>
            <tr id="par">
                <th>Par</th>
                {% for k, v in course_meta.par.items %}
                    <td align="right">{{ v }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="table-hover">
        {% for player, throw_set in comp_data.throws.items %}
            <tr>
                <th>{{ player }}</th>
                {% for hole, throw in throw_set.items %}
                    <td align="right">{{ throw }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

<hr>
<h5>Match Notes</h5>
{{ match_meta.notes }}

{% endblock %}