{%  extends 'base.html' %}
<title>{% block title %}Match Entry{% endblock %}</title>

{% block display %}

</p>
<div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table-sm">
                <tbody>
                    <tr>
                        <th>{{ form.course_select.label }}</th>
                        <td>{{ form.course_select }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.match_date.label }}</th>
                        <td>{{ form.match_date }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.match_number.label }}</th>
                        <td>{{ form.match_number }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.player_count.label }}</th>
                        <td>{{ form.player_count }}</td>
                    </tr>                    <tr>
                        <th>{{ form.notes.label }}</th>
                        <td>{{ form.notes }}</td>
                    </tr>
                </tbody>
            </table>
            <input type="Submit" value="Next" />
        </form>
</div>
{% endblock %}